* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

button {
    border: 0;
}